.letter {

	width:400px; /*resize as you see fit */
	height:600px; /*resize as you see fit */
	display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
	border:1px solid #000; /*feel free to remove or hide this rule */
	position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}
/*
.letter-a {
	transform:scale(0.5);
	transform:translate(-50%,-50%);
}
*/
.letter-a .top {
	height:300px;
	width:100px;
	border:50px solid black;
	border-bottom: 0px;
	border-radius: 90px 90px 0px 0px;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-a .crossbar {
	height:50px;
	width:100px;
	background:black;
	position:absolute;
	top:250px;
	left:150px;
}
.letter-a .bottom {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:450px;
	left:100px;
}



.letter-b .r1 {
	height:85px;
	width:100px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 0px 90px 90px 0px;
	position:absolute;
	top:100px;
	left:150px;

}
.letter-b .r2 {
	height:85px;
	width:100px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 0px 90px 90px 0px;
	position:absolute;
	top:265px;
	left:150px;
}
.letter-b .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-b .bottom {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-left:50px solid transparent;
	position:absolute;
	top:400px;
	left:50px;
}



.letter-c .circle {
	height:250px;
	width:250px;
	border:50px solid black;
    border-right:50px solid transparent;
    border-top:50px solid transparent;
	border-radius: 200px 200px 200px 200px;
	transform: rotate(45deg);
	position:absolute;
	top:100px;
	left:25px;
}
.letter-c .top {
	height:250px;
	width:250px;
	border:50px solid black;
    border-right:50px solid transparent;
    border-top:50px solid transparent;
    border-left:50px solid transparent;
	border-radius: 200px 200px 200px 200px;
	transform: rotate(180deg);
	position:absolute;
	top:100px;
	left:26px;
}
.letter-c .bottom {
	height:50px;
	width:100px;
	background:black;
	position:absolute;
	top:400px;
	left:200px;
}
.letter-c .tail {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:400px;
	left:300px;
}



.letter-d .right {
	height:250px;
	width:100px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 0px 90px 90px 0px;
	position:absolute;
	top:100px;
	left:150px;

}
.letter-d .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-d .bottom {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-left:50px solid transparent;
	position:absolute;
	top:400px;
	left:50px;
}



.letter-e .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-e .top {
	height:50px;
	width:100px;
	background:black;
	position:absolute;
	top:100px;
	left:150px;
}
.letter-e .middle {
	height:50px;
	width:50px;
	background:black;
	position:absolute;
	top:250px;
	left:150px;
}
.letter-e .bottom {
	height:50px;
	width:100px;
	background:black;
	position:absolute;
	top:400px;
	left:150px;
}
.letter-e .t1 {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:100px;
	left:250px;
}
.letter-e .m1 {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:250px;
	left:200px;
}
.letter-e .b1 {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:400px;
	left:250px;
}



.letter-f .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-f .top {
	height:50px;
	width:100px;
	background:black;
	position:absolute;
	top:100px;
	left:150px;
}
.letter-f .middle {
	height:50px;
	width:50px;
	background:black;
	position:absolute;
	top:250px;
	left:150px;
}
.letter-f .bottom {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:450px;
	left:100px;
}
.letter-f .t1 {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:100px;
	left:250px;
}
.letter-f .m1 {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:250px;
	left:200px;
}



.letter-g .circle {
	height:250px;
	width:250px;
	border:50px solid black;
    border-right:50px solid transparent;
	border-radius: 200px 200px 200px 200px;
	transform: rotate(-34deg);
	position:absolute;
	top:100px;
	left:25px;
}
.letter-g .top {
	height:250px;
	width:250px;
	border:50px solid black;
    border-right:50px solid transparent;
    border-top:50px solid transparent;
    border-left:50px solid transparent;
	border-radius: 200px 200px 200px 200px;
	transform: rotate(180deg);
	position:absolute;
	top:100px;
	left:25px;
}
.letter-g .bottom {
	height:100px;
	width:50px;
	background:black;
	position:absolute;
	top:300px;
	left:325px;
}
.letter-g .b1 {
	width:0;
	height:0;
	border-top: 50px solid black;
	border-left:50px solid transparent;
	position:absolute;
	top:400px;
	left:325px;
}



.letter-h .left{
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-h .right{
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:250px;
}
.letter-h .crossbar{
	height:50px;
	width:100px;
	background:black;
	position:absolute;
	top:250px;
	left:150px;
}
.letter-h .bottom{
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:450px;
	left:100px;
}



.letter-i .middle {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:175px;
}
.letter-i .top {
	height:50px;
	width:125px;
	background:black;
	position:absolute;
	top:100px;
	left:125px;
}
.letter-i .bottom {
	height:50px;
	width:125px;
	background:black;
	position:absolute;
	top:400px;
	left:150px;
}
.letter-i .t1 {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:100px;
	left:250px;
}
.letter-i .b1 {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-left:50px solid transparent;
	position:absolute;
	top:400px;
	left:100px;
}



.letter-j .top {
	height:50px;
	width:125px;
	background:black;
	position:absolute;
	top:100px;
	left:150px;
}
.letter-j .arc {
	height:300px;
	width:100px;
	border:50px solid black;
	border-top: 0px;
	border-left:0px;
	border-radius: 0px 0px 90px 0px;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-j .t1 {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:100px;
	left:275px;
}



.letter-k .r1 {
	height:150px;
	width:100px;
	border:50px solid black;
	border-bottom: 0px;
	border-radius: 90px 90px 0px 0px;
	position:absolute;
	top:250px;
	left:100px;
}
.letter-k .r2 {
	height:150px;
	width:75px;
	border:50px solid black;
	border-top: 0px;
	border-radius: 0px 0px 90px 90px;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-k .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-k .bottom {
	width:0;
	height:0;
	border-top: 50px solid black;
	border-left: 50px solid transparent;
	position:absolute;
	top:450px;
	left:250px;
}
.letter-k .top {
	width:0;
	height:0;
	border-bottom: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:50px;
	left:100px;
}



.letter-l .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-l .bottom {
	height:50px;
	width:125px;
	background:black;
	position:absolute;
	top:400px;
	left:150px;
}
.letter-l .l1 {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:50px;
	left:100px;
}
.letter-l .b1 {
	width:0;
	height:0;
	border-bottom:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:400px;
	left:275px;
}



.letter-m .arc1 {
	height:300px;
	width:50px;
	border:50px solid black;
	border-bottom: 0px;
	border-radius: 90px 90px 0px 0px;
	position:absolute;
	top:100px;
	left:75px;
}
.letter-m .arc2 {
	height:300px;
	width:50px;
	border:50px solid black;
	border-bottom: 0px;
	border-radius: 90px 90px 0px 0px;
	position:absolute;
	top:100px;
	left:175px;
}
.letter-m .t1 {
	width:0;
	height:0;
	border-bottom: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:400px;
	left:300px;
}



.letter-n .arc {
	height:300px;
	width:100px;
	border:50px solid black;
	border-bottom: 0px;
	border-radius: 90px 90px 0px 0px;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-n .bottom {
	width:0;
	height:0;
	border-bottom: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:400px;
	left:275px;
}



.letter-o .circle {
      display: inline-block;
      width: 250px;
      box-sizing: content-box;
      height: 250px;
      border: 50px solid black;
      position: relative;
      border-radius: 200px;
      position:absolute;
	  top:100px;
	  left:20px;
    }



.letter-p .arc {
	height:85px;
	width:100px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 0px 90px 90px 0px;
	position:absolute;
	top:100px;
	left:150px;
}
.letter-p .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-p .bottom {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:450px;
	left:100px;
}




.letter-q .circle {
      display: inline-block;
      width: 250px;
      box-sizing: content-box;
      height: 250px;
      border: 50px solid black;
      position: relative;
      border-radius: 200px;
      position:absolute;
	  top:100px;
	  left:20px;
    }
.letter-q .tail {
    	width:0;
    	height:0;
    	border-bottom:50px solid black;
    	border-right:50px solid transparent;
    	position :absolute;
    	top:400px;
	 	left:310px;
    }
.letter-q .bottom {
		height:50px;
		width:100px;
		background:black;
		position:absolute;
		top:400px;
		left:210px;
}




.letter-r .arc1 {
	height:85px;
	width:100px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 0px 90px 90px 0px;
	position:absolute;
	top:100px;
	left:150px;
}
.letter-r .arc2 {
	height:150px;
	width:100px;
	border:50px solid black;
	border-bottom: 0px;
	border-radius: 90px 90px 0px 0px;
	position:absolute;
	top:250px;
	left:100px;
}
.letter-r .left {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-r .bottom {
	width:0;
	height:0;
	border-top:50px solid black;
	border-right:50px solid transparent;
	position:absolute;
	top:450px;
	left:100px;
}



.letter-s .arc1 {
	height:100px;
	width:100px;
	border:50px solid black;
    border-right:50px solid transparent;
    border-top:50px solid transparent;
	border-radius: 200px 200px 200px 200px;
	transform: rotate(45deg);
	position:absolute;
	top:100px;
	left:100px;
}
.letter-s .arc2 {
	height:100px;
	width:100px;
	border:50px solid black;
    border-left:50px solid transparent;
    border-top:50px solid transparent;
	border-radius: 200px 200px 200px 200px;
	transform: rotate(-45deg);
	position:absolute;
	top:250px;
	left:97px;
}
.letter-s .top {
	height:50px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:199px;
}
.letter-s .bottom {
	height:50px;
	width:50px;
	background:black;
	position:absolute;
	top:400px;
	left:150px;
}
.letter-s .t1 {
	width:0;
	height:0;
	border-top: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:100px;
	left:249px;
}
.letter-s .b1 {
	width:0;
	height:0;
	border-top: 50px solid black;
	border-left: 50px solid transparent;
	position:absolute;
	top:400px;
	left:100px;
}



.letter-t .top {
	height:50px;
	width:175px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-t .middle {
	height:350px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:175px;
}
.letter-t .t1 {
	width:0;
	height:0;
	border-top: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:100px;
	left:275px;
}



.letter-u .arc {
	height:250px;
	width:100px;
	border:50px solid black;
	border-top: 0px;
	border-radius: 0px 0px 90px 90px;
	position:absolute;
	top:150px;
	left:100px;
}
.letter-u .t1 {
	width:0;
	height:0;
	border-bottom: 50px solid black;
	border-left: 50px solid transparent;
	position:absolute;
	top:100px;
	left:250px;
}
.letter-u .t2 {
	width:0;
	height:0;
	border-bottom: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:100px;
	left:100px;
}



.letter-v .left {
	height:315px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:111px;
	transform: rotate(-15deg);
}
.letter-v .right {
	height:315px;
	width:50px;
	background:black;
	position:absolute;
	top:100px;
	left:239px;
	transform: rotate(15deg);
}
.letter-v .middle {
	height:0px;
	width:0px;
	border:50px solid black;
	border-top: 0px;
	border-radius: 0px 0px 90px 90px;
	position:absolute;
	top:400px;
	left:150px;
}
.letter-v .l1 {
	width: 0;
    height: 0;
    border-top: 110px solid black;
    border-left: 60px solid transparent;
    position:absolute;
	top:99px;
	left:60px;
}
.letter-v .r1 {
	width: 0;
    height: 0;
    border-top: 110px solid black;
    border-right: 60px solid transparent;
    position:absolute;
	top:99px;
	left:280px;
}



.letter-w .arc1 {
	height:300px;
	width:50px;
	border:50px solid black;
	border-top: 0px;
	border-radius: 0px 0px 90px 90px;
	position:absolute;
	top:100px;
	left:75px;
}
.letter-w .arc2 {
	height:300px;
	width:50px;
	border:50px solid black;
	border-top: 0px;
	border-radius: 0px 0px 90px 90px;
	position:absolute;
	top:100px;
	left:175px;
}
.letter-w .t1 {
	width:0;
	height:0;
	border-top: 50px solid black;
	border-right: 50px solid transparent;
	position:absolute;
	top:100px;
	left:300px;
}





.letter-x .left {
	height:390px;
	width:50px;
	background:black;
	position:absolute;
	top:80px;
	left:170px;
	transform: rotate(-35deg);
}
.letter-x .right {
	height:390px;
	width:50px;
	background:black;
	position:absolute;
	top:80px;
	left:170px;
	transform: rotate(35deg);
}
.letter-x .t1 {
	width: 0;
    height: 0;
    border-top: 90px solid black;
    border-left: 65px solid transparent;
    position:absolute;
	top:99px;
	left:40px;
}
.letter-x .t2 {
	width: 0;
    height: 0;
    border-top: 90px solid black;
    border-right: 65px solid transparent;
    position:absolute;
	top:99px;
	left:285px;
}
.letter-x .b1 {
	width: 0;
    height: 0;
    border-bottom: 90px solid black;
    border-left: 65px solid transparent;
    position:absolute;
	top:360px;
	left:40px;
}
.letter-x .b2 {
	width: 0;
    height: 0;
    border-bottom: 90px solid black;
    border-right: 65px solid transparent;
    position:absolute;
	top:360px;
	left:285px;
}



.letter-y .arc1 {
	height:250px;
	width:100px;
	border:50px solid black;
	border-top: 0px;
	border-left: 0px;
	border-radius: 0px 0px 90px 0px;
	position:absolute;
	top:150px;
	left:150px;
}
.letter-y .arc2 {
	height:150px;
	width:100px;
	border:50px solid black;
	border-top: 0px;
	border-radius: 0px 0px 90px 90px;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-y .b1 {
	height:50px;
	width:75px;
	background:black;
	position:absolute;
	top:400px;
	left:100px;
}
.letter-y .b2 {
	width: 0;
    height: 0;
    border-bottom: 50px solid black;
    border-left: 50px solid transparent;
    position:absolute;
	top:400px;
	left:50px;
}



.letter-z .top {
	height:50px;
	width:150px;
	background:black;
	position:absolute;
	top:100px;
	left:100px;
}
.letter-z .bottom {
	height:50px;
	width:150px;
	background:black;
	position:absolute;
	top:400px;
	left:150px;
}
.letter-z .middle {
	height:50px;
	width:285px;
	background:black;
	position:absolute;
	top:250px;
	left:57px;
	transform: rotate(122deg);
}
.letter-z .arc1 {
	height:0px;
	width:0px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 0px 90px 90px 0px;
	position:absolute;
	top:100px;
	left:250px;
}
.letter-z .arc2 {
	height:0px;
	width:0px;
	border:50px solid black;
	border-left: 0px;
	border-radius: 90px 0px 0px 90px;
	position:absolute;
	top:350px;
	left:100px;
}
.letter-z .t1 {
	width: 0;
    height: 0;
    border-top: 50px solid black;
    border-left: 50px solid transparent;
    position:absolute;
	top:100px;
	left:50px;
}
.letter-z .b1 {
	width: 0;
    height: 0;
    border-bottom: 50px solid black;
    border-right: 50px solid transparent;
    position:absolute;
	top:400px;
	left:300px;
}




